<!DOCTYPE html>
<html lang="de">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        background-color: #302f2f;
      }
      .outer {
        padding-bottom: 20%;
      }
      .inner {
        background-color: white;
        padding: 40px;
        margin: 0 auto;
        border: 7px solid red;
        width: 40%;
        display: flex;
        justify-content: center;
      }

      @media only screen and (max-width: 950px) {
        .inner {
          width: 82%;
          padding: 20px;
        }
      }
    </style>
    <title>Geheim</title>
    <meta property="og:title" content="Geheim" />
    <meta
      property="og:description"
      content="Secure exchange of passwords or other confidential information."
    />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="https://geheim.tino.sh" />
    <meta property="og:site_name" content="Geheim" />
  </head>
  <body style="background-color: #302f2f">
    <div>
      <div class="outer"></div>
      <div class="inner">
        <% if (form) { %>
        <form action="/" method="POST">
          <label for="text">Passwort oder geheime Botschaft: </label>
          <input
            autocomplete="off"
            autofocus
            type="text"
            id="text"
            name="text"
          />
          <button>generieren</button>
        </form>
        <% } else if (approve) { %>
        <button onclick="window.location.href = '<%= link %>';">Text anzeigen</button>
        <% } else { %>
        <textarea rows="<%= rows %>" cols="60"><%= message %></textarea>
        <% } %>
      </div>
    </div>
    <script>
console.log("%cFork me on GitHub: https://github.com/tinoschroeter/geheim", "font-size: 27px; background: #222; color: #bada55");
    </script>
  </body>
</html>
